h1 {
    color: lightskyblue;
    margin-top: 25px;
    position: center; 
}

h2 {
    color: #7a6beb;
    margin-bottom:20px;
    
}

body {
    font-family: 'Gill Sans', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding-top: 80px;
    scroll-behavior: smooth;
    margin-left: 30px;
    margin-right: 40px;
}

a{
    color: white
}

nav {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  #5844f0;
    /*background-color: rgba(245, 30, 148, 0.404);*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px;
    border: 3px solid #7a6beb;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 40px;
  }
  
  