h1 {
    color: lightskyblue;
    margin-top: 0;
    text-align: center; 
    margin-left:0;
}

h2 {
    color: #7a6beb;
    margin-bottom:15px;
    
}

#profesion{
    text-align: center;
    color: #6179e4;
}

body {
    font-family: 'Gill Sans', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding-top: 50px;
    scroll-behavior: smooth;
    margin-left: 0;
    margin-right: 0;
}

a{
    color: darkturquoise;
}

nav {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    width: 100%;
    background-color:  #5844f0;
    /*background-color: rgba(245, 30, 148, 0.404);*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

nav a{
    text-decoration: none;
    color: white;
    /*padding: 10px; */
    /* se repite en menu-item*/
    display: inline-block;
}
.menu-item{
    text-decoration:none;
    padding: 11px;
}

.menu-item:hover{
    background-color: #2e2194;
}

section {
    padding: 20px;
    border: 3px solid #7a6beb;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 0 px;
}

#acerca p{
    text-align: justify;
}

#habilidad ul {
    list-style: none;
    padding: 2px;
}

#habilidad ul li {
    display: inline-block;
    padding: 5px;
    border: 2px solid #7a6beb;
    border-radius: 5px;
    margin-right: 10px;
}

#exp ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left:5px;
}

#exp li {
    margin-bottom: 10px;
}

#proyects ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left:0px;
}

#proyects ul li {
    margin-bottom: 10px;
}

#proyects ul li a {
    text-decoration: none;
    margin-left:10px;
}

#proyects ul p {
    text-decoration: none;
    margin-left:0;
}

#proyects ul li a:hover {
    text-decoration: underline;
}



